header{ /* header preto superior*/
    background-color: black;
    color: white;
    padding: 1.8rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.botoes {
    display: flex;
    gap: 1rem;
}

.titulo{
    display: flex;
    align-items: center;
}

.titulo img{ /* ajustar tamanho da logo no titulo*/
    width: 8rem;
}

.help-center {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    height: 25px;
    font-size: 25px;
}

.logo-btn{
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
  
.logo-btn img{
    margin-right: 8px; /* espaço entre a logo e o texto no titulo*/
}
  
.Submit,
.login{
    background-color: #4C5FD5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.Submit{
    border: 1px solid white;
    background-color: black;
}

.titulo_secundario{ /*estilo da area logo abaixo do header*/
    background-color: #dadbf1;
    padding: 2rem 0rem;
}

.container{ /* area roxa, abaixo do header*/
    max-width: 600px;
    margin: 0 auto;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{ /*titulo em cima da barra de pesquisa*/
    margin-bottom: 1rem;
    font-size: 4rem;
    font-family: 'GT America Standard', sans-serif;
}

.barra-procura{ /* barra de pesquisa*/
    position: relative;
    max-width: 100%; 
}

.search-input{ /* barra de pesquisa tb*/
    padding: 1.2rem;
    width: 18rem;
    border: 1px solid #000;
    border-radius: 4px;
    padding-right: 20rem;
    font-size: 1.5rem;
}

.seta-procurar { /* estilo para seta da barra de pesquisa*/
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.features { /* Estilos para a seção de funcionalidades e suas imagens */
    padding: 8rem 2rem; /* Adiciona espaçamento lateral */
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    font-size: 1.5rem;
}

.feature-item {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e o texto no topo */
    gap: 1rem; /* Espaço entre a imagem e o texto */
    text-align: left;
}

.feature-text h3 {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0; /* Remove qualquer margem extra ao redor do título */
}
.feature-text p {
    font-size: 1.7rem;
}

.feature-img{
    width: 90px;
    height: auto;
}

.feature.text{
    font-size: 1.2rem;
    font-weight: bold;
}

.learn-more {
    color: #4C5FD5;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.5rem;
}

/* Estilo para o rodapé */
footer {
    background-color: #000;
    color: white;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    gap: 2rem;
}

.rodape img{ /* ajustar o tamanho da logo pq tava gigante*/
    width: 25px;
    height: auto;
}

.footer-features {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.footer-copyright {
    color: white;
    font-size: 0.8rem;
    text-align: left;
}

@media (max-width: 768px) { /*media querry para otimiuzacao em telas menores*/
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .titulo_secundario {
        padding: 1rem;
    }

    .features {
        padding: 4rem 1rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-features {
        flex-direction: column;
        align-items: center;
    }
}