header{ /* header preto superior*/
    background-color: black;
    color: white;
    padding: 1.8rem;
  }

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.titulo{
    display: flex;
    align-items: center;
}

.titulo img{ /* ajustar tamanho da logo no titulo*/
    width: 8rem;
}

.help-center {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    height: 25px;
    font-size: 25px;
}

.logo-btn{
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
  
.logo-btn img{
    margin-right: 8px; /* espaço entre a logo e o texto no titulo*/
}
  
.Submit,
.login{
    background-color: #4C5FD5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.Submit{
    border: 1px solid white;
    background-color: black;
}

.titulo_secundario{ /*estilo da area logo abaixo do header*/
    background-color: #dadbf1;
    padding: 2rem 0rem;
}

.container{ /* area roxa, abaixo do header*/
    max-width: 600px;
    margin: 0 auto;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{ /*titulo*/
    margin-bottom: 1rem;
}

@media(min-width: 1024px){
    .heading{
        font-size: 7cqw;
    }
}

.barra-procura{ /* barra de pesquisa*/
    position: relative;
    max-width: 100%; 
}

.search-input{ /* barra de pesquisa tb*/
    padding: 1.2rem;
    width: 18rem;
    border: 1px solid #000;
    border-radius: 4px;
    padding-right: 20rem;
    font-size: 1.5rem;
}

.seta-procurar { /* estilo para seta da barra de pesquisa*/
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}


.features { /* Estilos para a seção de funcionalidades e suas imagens */
    padding: 8rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.feature-img {
    width: 90px;
    height: auto;
    margin-right: 10px; /* espaço entre a imagem e o texto */
  }

.feature-item {
    margin: 1rem 0;
}

/* Estilo para o rodapé */
footer {
    background-color: #000;
    color: white;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.rodape img{ /* ajustar o tamanho da logo pq tava gigante*/
    width: 25px;
    height: auto;
}

.footer-features {
    display: flex;
    gap: 2rem; /* Espaço entre as features */
    flex-wrap: wrap;
}

.feature-item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.footer-copyright {
    color: white;
    font-size: 0.8rem;
    text-align: left;
  }